* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: #000000;
color: #0eaddd;
font-family: Helvetica, Arial, sans-serif;
margin: 0;
line-height: 1.7;
}

img {
display: flex;
max-width: 50%;
object-fit: cover;
margin: 0 auto;
}

header {
padding: 20px 35px;

}

header h1 {
font-weight: bold;
font-size: 36px;
color: #0eaddd;
margin: 0;
display: inline;
}

header a {
text-decoration: none;
color: orange;
}

header nav {
float: right;
margin: 7px 0;
}

header nav ul li {
display: inline;
}

header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 22px;
}

.hero {
background-image: url('../images/hero.jpg');
height: 600px;
background-size: cover;
background-position: center;
position: relative;
}

section {
padding: 60px;
}

.section-title {
font-size: 55px;
color: orange;
margin-bottom: 35px;
padding: 0 100px 20px 100px;
display: inline-block;
border-bottom: 3px solid;
}

.bio {
background-color: darkgray;
color: black;
text-align: center;
background-image: url(../images/bio.jpg);
background-size: contain;
background-position: center;
background-blend-mode: multiply;
opacity: inherit;
}

.bio p {
line-height: 1.7;
width: 80%;
font-size: 20px;
margin: 0 auto;
color: orange;
}

.work {
color: orange;
text-align: center;
}

.projects {
background-color: white;
overflow: hidden;
}

.main-portfolio-img {
max-width: 100%;
justify-content: center;
}

.main-portfolio-img:hover {
transform: scale(1.2);
opacity: .5;
}

.portfolio-img {
transition: 
transform 750ms cubis-bezier(.5, 0, .5, 1),
opacity 250ms linear;
}

.portfolio-img:hover {
transform: scale(1.2);
opacity: .5;
}

footer {
text-align: center;
background-image: url(../images/contact.jpg);
background-size: cover;
}

.contact-info {
display: block;
color: orange;
text-align: center;
}

.contact-info div {
display: inline-block;
vertical-align: top;
text-align: left;
color: white;
margin: 30px auto;
}

.contact-info iframe {
width: 500px;
height: 250px;
}

.contact-info p,
.contact-info address {
margin: 20px 0;
line-height: 1.5;
font-size: 40px;
font-style: normal;
font-weight: bolder;
}
